@import '../variables';
@import '../mixins.scss';
@import '../fonts';

#header__toggle{
   display: none;
   transition: 0.3s;
}

#header__toggle:checked ~ .header__nav-list{
      background-color: $bg-banner;
      transition: 0.3s;
      position: absolute;
      flex-direction: column;
      top: 100%;
      left: 0;
      width: 100%;
      // margin: 0 -20px;
      padding: 28px 20px 0 20px;
      height: 400px;
      display: flex;
}