// Color palette.

// Colors of highlighting:
$primary: #FF4343;
$primary-08: rgba(255, 67, 67, 0.8);
$secondary: #E71414;
$tertiary: #B90C0C;

// Colors of text:
$txt-black: #2D3033;
$txt-main-col: #6C7279;
$txt-footer: #808080;

// SVG
$svg-icons: #C6CBCD;
$svg-logo: #656980;


// Colors of background:
$bg-banner: #252B49;
$bg-footer-start: #353C65;
$bg-footer-end: #2C3154;
$bg-small-banner: #5C3249;

// Basic colors:
$black: #000000;
$white: #FFFFFF;

// Lines colors (header and borders)
$line-main: #BABBC5;

//Gradient colors:
$grad-line: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);


// Font-sizes:
$h1-desk: 64px;
$h1-tab: 48px;
$h1-mob: 36px;
$txt-big: 24px;
$txt-main: 18px;
$txt-small: 14px;
$txt-13: 13px;
$txt-12: 12px;

$banner-main: 36px;
$banner-small: 24px;

// Line-sizes:
$h1-desk-line: 75px;
$h1-tab-line: 56px;
$h1-mob-line: 42px;
$txt-big-line: 28px;
$txt-main-line: 21px;
$txt-small-line: 16px;
$txt-13-line: 15px;
$txt-12-line: 14px;

$banner-main-line: 49px;
$banner-small-line: 32px;